.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    margin-top: 0;
  }
  
  .bloc-tabs {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
  }
  .tabs {
    font-weight: 700;
    font-size: 25px;
    color: #bdc3c7;
    padding: 15px;
    text-align: center;
    background: white;
    cursor: pointer;
    border-radius: 25px 25px 0 0;
    width: 100%;
  }
 
  
  .active-tabs  {
    background: #262a33;
    border-bottom: 1px solid transparent;
    color: white;
    width: 100%;
  }
  
  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: white;
    padding: 20px 0 20px 0px;
    width: 88%;
    height: 100%;
    display: none;
    p {
      width: 92%;
      margin-bottom: 2%;
      line-height: 23px;
    }
  }
  .active-content {
    display: flex;
    background-color: #262a33;
    color: white;
    padding: 6% 6% 2% 6%;
  }