.PageNotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 55px 38px 55px;
    background-color: #f1edea;
    width: 1180px;
    height: 620px;
    margin: 0 auto;

    &__nav {
        display: flex;
        width: 92px;
        justify-content: space-between;
        font-size: 13px;
        text-decoration: none;
        color: black;
        &__home {
            color: #85bc23;
        }
        &__slash {
            opacity: .4;
        }
    }

    &__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 55px;
        &__decor {
            border-bottom: 2px solid gray;
            width: 508px;
            opacity: .2;
        }
        &__404 {
            font-size: 45px;
        }
    }
    &__content {
        background-color: white;
        background-image: url(./not_img/2.png);
        background-repeat: no-repeat;
        background-position: left;
        display: flex;
        width: 100%;
        height: 490px;
        justify-content: space-around;
        &__img {
            align-items: center;
            width: 290px;
            height: 102px;
            background-image: url(./not_img/1.png);
            background-repeat: no-repeat;
            margin-top: 193px;
            margin-left: 52px;
        }
        &__text {
            width: 525px;
            font-size: 14px;
            line-height: 25px;
            margin-top: 68px;
            & p {
                margin-bottom: 20px;
            }

            & h3 {
                font-size: 25px;
                margin-bottom: 28px;
            }

            & Link {
                margin-top: 45px;
            }

            &__search {
                margin-top: 45px;
                & input {
                    width: 500px;
                    height: 32px;
                    border-radius: 20px;
                    padding-left: 15px;
                    border: 3px solid #f1edea;
                    color: black;
                    font-size: 12px;
                    background-image: url(./not_img/search.png);
                    background-repeat: no-repeat;
                    background-position: right;
                    &:focus {
                        outline: none;
                    }
                }
            }
            &__home {
                color: #85bc23;
            }
            
        }
    }
}

