.Main__content {
    display: flex;
    justify-content: space-between;
    margin-left: 13px;
}

.Slider__card {
    height: 295px;
    width: 269px;
    background-color: white;
    border-radius: 7px;
    &__top {
        height: 190px;  
        background-size: cover;
        margin-top: -2px;
    }
    &__text {
        margin: 0 auto;
        margin-top: 15px;
        font-size: 14px;
        color:#687482;
        text-align: center;
        width: 152px;
    }
    &__tag {
        color: #85bc23;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
    }
}

.btn__section {
    margin: 32px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 590px;
    &__press {
        width: 28px;
        height: 28px;
    }
    &__mid {
        display: flex;
        align-items: center;
        &__{
            width: 234px;
            border-bottom: 3px solid white;
        }
        &__dec {
            margin-left: 7px;
            margin-right: 7px;
            font-size: 30px;
        }
    }
}

#Left__btn {
    background-image: url(./slider_img/arrow1.png);
}

#Right__btn {
    background-image: url(./slider_img/arrow2.png);
}

.Slider__wrapper {
    background-color:#262a33;
    height: 550px;

}
.MySwiper {
    width: 1180px;
}