* {
    margin: 0;
    padding: 0;
    font-size: 13px;
    list-style: none;
    text-decoration: none;
}
.Footer {
    display: flex;
    width: 1280px;
    margin: 0 auto;
    padding-top: 43px;
    padding-left: 55px;
    
    &__contacts {
        font-size: 12px;
        width: 195px;
        height: 215px;
        &__copyright {
            margin-bottom: 36px;
        }
        &__info {
            h3 {
                margin-bottom: 16px;
            }
            span {
                line-height: 18px;
            }
        &__data {
            margin-top: 30px;
            a {
                color: black;
            }
            
            div:first-child {
                margin-bottom: 20px;
            }   
        }
        }
    }

    &__nav {
        width: 670px;
        height: 270px;
        &__header {
            span:first-child {
                margin-right: 515px;
            }
        }
        &__content {
            display: flex;
            margin-top: 15px;
            line-height: 35px;
            margin-left: 3px;
            ul {
                margin-right: 139px;
            }
        }
    }
}