*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.Banner {
    width: 1170px;
    height: 505px;
    display: flex;
    margin: 0 auto;
    margin-top: 28px;
    
    &__right {
        & .right__sale {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 30px;
            background-image: url(./banner_img/Green.png);
            height: 333px;
            width: 268px;
           
            &__text {
                margin-left: 10px;
                margin-top: 48px;
                align-items: center;
                h2{
                    font-size: 95px;
                    margin-bottom: 55px;
                }
                span { 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 25px;
                }
            }


        }
        & .right__follow {
            display: flex;
            flex-direction:column;
            align-items: center;
            color: #73706e;
            margin-top: 40px;
            margin-left: 30px;
            & p {
                font-size: 12px;
            }
            & header {
                margin-bottom: 12px;
            }
            &__btn {
                display: flex;
                margin-top: 27px;
                color: #385c96;
                border: 3px solid #385c96;
                padding: 10px 40px 10px 20px;
                border-radius: 20px;

                &__img {
                    width: 15px;
                    height: 15px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url(./banner_img/F.png);
                    margin-right: 20px;
                }
            }
        }
    }
    
}